{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notes of {{usernameee}}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'notes_home.css' %}">
    <style>
        .tag {
            background-color: #335C81;
            padding: 5px;
            font-size: 20px;
            border-radius: 5px;
            color: white;
            margin-right: 5px;
            transition: background-color 0.3s ease;
        }

        .tag:hover {
            background: linear-gradient( #1D2951, #274060);
            color: #fff;
        }
    </style>
</head>
<body>
    <div class="user_side" style="display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
    gap: 10px;">
        <h1 class="w" style="text-align:center;">Welcome {{usernameee}} </h1>

        <div class="create_note">
            <a href="{% url 'UserData:add_note' usernameee %}" class="btn btn-outline-success txt-success rounded buttons">Take a New Note</a>
            <a href="{% url 'UserData:logout' %}" class="btn btn-outline-danger txt-danger rounded log_buttons">Logout</a>
        </div>
    </div>

    <div class="notes_container">
        <div class="box">
            <div class="box-header" style="display: flex;
            flex-direction: column;
            align-items: flex-end;">
                <br><br>
                {% comment %} <label style="margin-left:5px;">Search</label> {% endcomment %}
                <input class="form-control w-75 input-field" type="text" id="searchInput" placeholder="Search by title or tags" onkeyup="searchTable()" style="max-width: 400px;">
                <br><br>
            </div>
            <div class="table-responsive" style="max-height:300px; overflow-y:auto;">
                <table class="table table-bordered m-0 table7" style="text-align:center;" id="notesTable">
                    <thead>
                        <tr>
                            <th style="text-align:center;">#</th>
                            <th style="text-align:center;">Title</th>
                            <th style="text-align:center;">Tags</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for note in all_notes %}
                        <tr>
                            <td> {{forloop.counter}} </td>
                            <td> <a href="{% url 'UserData:note_description' usernameee note.pk %}" class="note-link"> {{note.title}} </a></td>
                            <td>
                                <span class="tag">#tag1</span>&nbsp;&nbsp;
                                <span class="tag">#tag2</span>&nbsp;&nbsp;
                            </td>
                        </tr>
                        {% endfor %}
                        <!-- Add more rows as needed -->
                    </tbody>
                </table>
            </div>
        </div>
        <!--Table Ends-->
    </div>

    <script>
        function searchTable() {
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("searchInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("notesTable");
            tr = table.getElementsByTagName("tr");

            // Loop through all table rows, and hide those that don't match the search query
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td");
                for (var j = 0; j < td.length; j++) {
                    if (td[j]) {
                        txtValue = td[j].textContent || td[j].innerText;
                        if (txtValue.toUpperCase().indexOf(filter) > -1) {
                            tr[i].style.display = "";
                            break;
                        } else {
                            tr[i].style.display = "none";
                        }
                    }
                }
            }
        }
    </script>
    <script src="index.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
